<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <%= partial "partials/meta" %>
    <title><%= current_page.data.title %></title>
    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag :animate %>
  </head>
  <body class="js-load is-hidden relative">
    <%= partial "partials/nav" %>
    <%= yield %>
    <%= partial "partials/mobile" %>
    <%= partial "partials/footer" %>
    <%= javascript_include_tag :site %>
    <% fish = current_page.data.dynamic %>
    <% if current_page.data.title == "Materiales para Construcción — Materiales Vallejo" %>
      <%= javascript_include_tag :dynamic %>
    <% end %>
  </body>
</html>
