<div class="bg-white bb b--light-gray pv1 pv15-ns ph15 ph3 ph0-l">
  <div class="mw645 center cf">
    <div class="dn fl-ns dib-ns w-25-ns">
      <p class="ma0 lato fw4 gray">
        <span id="status" class="relative top--025 dib w025 h025 mr05 br0125 <%= data.contact.status.opens.color %>"></span>
        <span id="status-text"><%= data.contact.status.opens.title %></span>
      </p>
    </div>
    <div class="fl-ns dib-ns w-50-ns">
      <div class="tc">
        <a class="dim link" href="/">
          <%= image_tag 'icons/logo.svg', :class => "db center", :alt => 'Materiales Vallejo Logo' %>
        </a>
      </div>
    </div>
    <div class="dn fl-ns dib-ns w-25-ns cf">
      <div class="fr">
        <a id="nav-action" class="pv05 ph1 lato green fw4 f0875 ba b--green br0125 no-underline" href="tel:<%= pretty_number data.contact.number %>">
          <%= data.contact.button.opens.title %>
        </a>
      </div>
    </div>
  </div>
</div>
