---
title: Empleos — Materiales Vallejo
layout: main
---
<%# Content %>
<main class="ptc ptc-ns">
  <%# Header %>
  <%# Config %>
  <% jobs = data.jobs %>
  <%# End %>
  <header class="mw18 mw28-ns center pv4 lato tc">
    <h1 class="ma0 mb1 dark-gray f15 f2-ns fw4 lh01"><%= jobs.page.title %></h1>
    <p class="ma0 mb2 gray f1 fw4 lh15"><%= jobs.page.subtitle %></p>
  </header>
  <%# Job List %>
  <%# Config %>
  <% ll = jobs.list.length - 1 %>
  <%# End %>
  <div class="mw18 mw425-ns center ma0 mb4 pa0 cf">
    <% jobs.list.each_with_index do |job, j| %>
      <% if j === 0 || j === ((ll / 2).floor - 1) %>
      <div class="cf <% if j === 0 %>mb2-ns<% end %>">
      <% end %>
      <div class="fl-ns w-50-ns <% if j != ll %>mb4<% end %> <% if j % 2 === 0 %>pr2-ns<% else %><% end %>">
        <h3 class="dib ma0 mb05 lato f1 fw4 dark-gray"><%= job.title %></h3>
        <p class="ma0 mb1 lato f1 fw4 lh15 gray"><%= job.ad_subtitle %></p>
        <a class="db ma0 lato f1 fw4 blue hover-dark-blue link no-underline" href="/empleos/<%= pretty_url job.title %>"><%= job.link_title %></a>
      </div>
      <% if j === (ll / 2) || j === ll %>
      </div>
      <% end %>
    <% end %>
  </div>
</main>
