---
title: Aplicación Enviada — Materiales Vallejo
layout: simple
dynamic: false
---
<%# Config %>
<% success = data.success %>
<%# End %>
<article class="dt w-100 h-100 mw18 mw28-ns center tc">
  <div class="dtc v-mid center lato">
    <%= image_tag "#{ success.image.path }", :class => "w3 h3 mb2", :alt => "#{ success.image.alt }" %>
    <h1 class="ma0 mb1 f15 fw4 lh01"><%= success.title %></h1>
    <p class="ma0 mb2 f1 fw4 lh1_5 gray"><%= success.subtitle %></p>
    <a class="db dib-ns center w8 pv1 ph1_5 lato white fw7 no-underline tc bg-blue br0125" href="<%= success.action.path %>">
      <%= success.action.title %>
    </a>
  </div>
</article>
