---
title: Acerca de Materiales Vallejo
layout: main
---
<%# Config %>
<% about = data.about %>
<%# End %>
<main class="ptc">
  <div class="mw8-l center mt4-m">
    <div class="cf">
      <div class="fl-ns w-10-m w-20-l" style="min-height: 1px;"></div>
      <div class="fl-ns w-80-m w-60-l">
        <%# Hero %>
        <article class="ph2-m ph0-l mt4-ns mb2 mb4-ns">
          <div class="aspect-ratio aspect-ratio--1x1 aspect-ratio aspect-ratio--16x9-ns">
            <div class="aspect-ratio--object cover bg-center" title="<%= about.hero.image.alt %>" style="background-image: url(<%= about.hero.image.path %>)"></div>
          </div>
        </article>
        <%# Details %>
        <section class="ph15 ph2-m ph0-l">
          <header class="mb2">
            <h1 class="ma0 mb05 lato f15 fw4 dark-gray"><%= about.title %></h1>
            <h2 class="ma0 lato f1 fw4 gray"><%= about.subtitle %></h2>
          </header>
          <%# Config %>
          <% dl = about.details.length - 1 %>
          <%# End %>
          <% about.details.each_with_index do |detail, d| %>
            <p class="ma0 lato dark-gray lh15 <% if d === dl %>mb4<% else %>mb2<% end %>">
              <%= detail %>
              <% if d === dl %>
              <span class="js-about"><%= about.contact.opens %></span>
              <% end %>
            </p>
          <% end %>
          <div class="cf mb4">
            <div class="js-contact fl-ns w-50-ns mb2 mb0-ns">
              <div class="js-remove mb2">
                <h2 class="ma0 mb05 fw4 f1 lato dark-gray"><%= data.about.contact.phone_title %></h2>
                <a class="lato blue no-underline" href="tel:<%= pretty_number data.contact.number %>" target=""><%= data.contact.number %></a>
              </div>
              <div>
                <h2 class="ma0 mb05 fw4 f1 lato dark-gray"><%= data.about.contact.email_title %></h2>
                <a class="lato blue no-underline" href="mailto:<%= data.contact.email %>" target=""><%= data.contact.email %></a>
              </div>
            </div>
            <div class="fl-ns w-50-ns">
              <h2 class="ma0 mb05 fw4 f1 lato dark-gray"><%= data.about.contact.address_title %></h2>
              <a class="lato blue no-underline" href="<%= data.contact.address.url %>" target="_blank">
                <ul class="list ma0 pa0">
                  <li><p class="ma0 mb025 lato mb025 fw4 f1"><%= data.contact.address.street %></p></li>
                  <li><p class="ma0 mb025 lato mb025 fw4 f1"><%= data.contact.address.sector %></p></li>
                  <li><p class="ma0 lato fw4 f1"><%= data.contact.address.city %>, <%= data.contact.address.state %> <%= data.contact.address.zip_code %></p></li>
                </ul>
              </a>
            </div>
          </div>
        </section>
      </div>
      <div class="fl-ns w-10-m w-20-l" style="min-height: 1px;"></div>
    </div>
  </div>
  <%# Jobs Banner %>
  <%= partial "partials/jobs" %>
</main>
